In [2]:
import pandas as pd
from openpyxl import load_workbook
import numpy as np

In [4]:
wb = load_workbook('kano_pocr_v3.xlsx')
wb.save(filename = 'temp.xlsx')
df = pd.read_excel('temp.xlsx', engine='openpyxl')
df_empty = df[df['pocr'].isnull()]
empty_list = list(df_empty.index)

In [5]:
df_empty.head()

,Unnamed: 0,index,texts,id,image_url,row_number,_id,_error,pocr
0,0,0,NaN,614010689249,https://img.alicdn.com/imgextra/i2/881215442/O...,14,1,NaN,NaN
1,1,1,NaN,614010689249,https://img.alicdn.com/imgextra/i4/881215442/O...,18,2,NaN,NaN
3,3,3,NaN,614010689249,https://img.alicdn.com/imgextra/i4/881215442/O...,16,4,NaN,NaN
12,12,12,NaN,614010689249,https://img.alicdn.com/imgextra/i4/881215442/O...,25,13,NaN,NaN
24,24,24,NaN,614010689249,https://img.alicdn.com/imgextra/i3/881215442/O...,33,25,NaN,NaN

In [7]:
url = list(df_empty['image_url'])[0]

In [11]:
import urllib.request
import urllib.parse
import time
name = 1
fullname = "/home/ec2-user/SageMaker/OCR/paddleocr/kano/"+str(name)+".jpg"
urllib.request.urlretrieve(url,fullname)

('/home/ec2-user/SageMaker/OCR/paddleocr/kano/1.jpg',
 <http.client.HTTPMessage at 0x7f0d2f134048>)

In [12]:
import os

os.remove(fullname)

In [ ]:
import urllib.request
import urllib.parse
import time
for i in range(len(ocr_file)):
    print(i)
    name = i
    fullname = "/home/ec2-user/SageMaker/PinduoduoBrandMatch/OCR_photos/"+str(name)+".jpg"
    ###image url
    url = ocr_file['mall_logo'][i]
    try: 
        urllib.request.urlretrieve(url,fullname) 
    except ConnectionResetError:
        time.sleep(5)
    except:
        url = urllib.parse.quote(url,':/=&?')
        urllib.request.urlretrieve(url,fullname)

In [ ]:
for i in list(df_empty['image_url']):
    img_path = i